@import "./variables.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

:root {
  --font-poppins: "Poppins", sans-serif;
  --font-sans: "Open Sans", sans-serif;

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  --font-size: 18px;

  --primary-pink: hsl(322, 100%, 66%);

  --neutral-pale-cyan: hsl(193, 100%, 96%);
  --neutral-dark-cyan: hsl(192, 100%, 9%);
  --neutral-blue: hsl(208, 11%, 55%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 100px;
  width: 100%;
  background: transparent;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.nav-logo-img {
  max-width: 7rem;
}

h1,
h2,
h3 {
  font-family: var(--font-poppins);
}

p,
a {
  font-family: var(--font-sans);
}

.nav-btn {
  display: block;
  text-transform: capitalize;
  font-family: var(--font-sans);
  padding: 0.75rem 2.5rem;
  border: none;
  font-weight: var(--fw-semibold);
  border-radius: 5rem;
  background-color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.nav-btn:hover {
  opacity: 0.5;
}

.header {
  background-color: var(--neutral-pale-cyan);
  background-image: url("images/bg-hero-desktop.svg");
  background-size: cover;
  width: 100%;
}

.hero-cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* padding: auto 3rem; */
}

.hero-text-content {
  padding-right: 1rem;
  padding-left: 3rem;
}

.hero-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-image-wrapper {
  padding: 3rem;
}

.hero-image {
  max-width: 30rem;
}

.hero-btn {
  padding: 1rem 4rem;
  margin-top: 1rem;
  border-radius: 5rem;
  font-weight: var(--fw-semibold);
  border: none;
  font-size: 1.125rem;
  font-family: var(--font-sans);
  background-color: var(--primary-pink);
  display: inline-block;
  color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.hero-btn:hover {
  opacity: 0.75;
}

.sections-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 7rem 3.5rem;
}

.section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}

.section {
  padding: 5rem;
  border-radius: 2rem;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.section__image {
  max-width: 20rem;
}

.section__title {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.section__paragraph {
  color: var(--neutral-blue);
}

.footer {
  color: white;
  background-color: var(--neutral-dark-cyan);
  padding: 3rem;
  padding-top: 10rem;
  position: relative;
}

.footer__popup {
  position: absolute;
  top: -15%;
  left: 0;
  right: 0;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 10;
}

.footer__popup-main {
  border-radius: 1rem;
  background-color: white;
  /* z-index: 10;
  position: relative; */
  min-width: 50rem;
  height: auto;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 2rem;
}

.footer__popup-title {
  font-size: 2rem;
  color: black;
}

.footer__popup-btn {
  padding: 1rem 4rem;
  margin-top: 1rem;
  font-family: var(--font-sans);
  border-radius: 5rem;
  font-weight: var(--fw-semibold);
  border: none;
  font-size: 1rem;
  background-color: var(--primary-pink);
  display: inline-block;
  color: white;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 100ms ease;
}

.footer__popup-btn:hover {
  opacity: 0.5;
}

.footer__logo {
  max-width: 300px;
}

.footer-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-evenly;
  /* padding: 2rem; */
  gap: 2rem;
}

.footer__text-content {
  margin: 1rem 0;
  display: inline-block;
}

.footer__text-with-icon {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
  align-items: flex-start;
}

.footer__navbar {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}

.footer__navlink {
  color: white;
  display: inline-block;
  margin: 0.5rem 0;
  text-decoration: none;
}

.footer__navlink:hover {
  text-decoration: underline;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.footer-copyright-and-social-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

.footer__social-links {
  display: flex;
  gap: 1rem;
}

.footer__link-icon {
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: white;
}

.footer__link-icon:hover {
  color: var(--primary-pink);
}

@media screen and (max-width: 800px) {
  .hero-btn {
    font-size: 0.75rem;
    padding: 0.75rem 1.5rem;
  }

  .hero-image {
    max-width: 20rem;
  }

  /* body {
    font-size: 14px;
  } */

  img {
    max-width: 20rem;
  }
}

/* responsive for smaller screens */
@media screen and (max-width: 700px) {
  .hero .hero-cols {
    grid-template-columns: 1fr;
  }

  .hero-title {
    font-size: 1.75rem;
  }

  .hero-text-content {
    padding: 2rem;
  }

  .hero-btn {
    font-size: 1.0125rem;
  }

  .hero-text-content {
    text-align: center;
  }

  .hero-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-image {
    max-width: 15rem;
  }

  .sections-wrapper {
    padding: 3rem 1.5rem;
    padding-bottom: 10rem;
  }

  .section-grid {
    grid-template-columns: 1fr;
  }

  .section {
    padding: 2.5rem;
  }

  .section__title {
    text-align: center;
  }

  .section__paragraph {
    text-align: center;
    font-size: 16px;
    color: var(--neutral-dark-cyan);
  }

  .section__image-wrapper {
    text-align: center;
  }

  .section__image {
    max-width: 15rem;
  }

  .footer-cols {
    grid-template-columns: 1fr;
  }

  .footer__navbar {
    flex-direction: column;
  }

  .footer__popup {
    top: -10%;
  }

  .footer__popup-title {
    font-size: 1.05rem;
  }

  .footer__popup-main {
    min-width: 18.5rem;
    border-radius: 1rem;
    padding: 2rem;
  }
}
